body
{
    text-align:center;
    color: white;
}
ul
{
    text-align: center;
}
li
{ 
    text-align: top;
    list-style-type: none;
}
a
{
    text-decoration: none;
    color: white;
    font-size: 11px;
    text-align: start;
    background-color: rgb(105,105,190);
    color: aliceblue;
}


